.pageTitle404 {
  font-weight: 500;
  font-size: 214.036px;
  line-height: 1;
  color: #f07178;
}

.container404 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pageDesc404 {
  font-style: normal;
  font-weight: 400;
  font-size: 50.086px;
  line-height: 1;
  color: #b0bec5;
  margin-bottom: 105px;
  margin-top: 30px;
}
